.navbar-toggler{
  border: none !important;
}

.navbar-light .navbar-toggler-icon{
  background-image: url(https://icon-library.com/images/hamburger-icon-svg/hamburger-icon-svg-11.jpg) !important;
}

input{
  display: none;
}

.second > *{
  margin: 0.3rem;
}

@media (min-width: 768px) {
  .img1{
    width: 80%;
  }

  .navbar{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
  }
}



@media (min-width: 1440px) {
  .img1{
    width: 50%;
    max-width: 40%;
  }

  .navbar-nav a, .second > *{
    font-size: 2rem;
  }

}
